body {
  margin: 0;
  text-align:center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin-top: 0;
  font-size: 50px;
font-family: 'Press Start 2P', cursive;
}
h2{
  font-family: 'Press Start 2P', sans-serif;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 20
}

hr{
  margin: 0;
}

.top {
  background-color:#E3FDFD ;
}

.cloud-top{
  position: relative;
  display: block;
  left: 65%;
  margin-top: 0;
  padding-top: 55px;
}
.cloud-bottom{
  position: relative;
  display: block;
  left: 18%;
}
.catgif{
  width: 100px;
  position: absolute;
  left: 10%;
  top: 15%;
}



.middle {
background-color: #E4F9F5 ;
}

.profile{
  padding:  100px 0 100px 0;
}

.skills{
  padding: 15px 0 15px 0;
}

.skill-row{
  width: 75%;
  margin: 100px auto 100px;
  line-height: 2;
}
.skill-table{
  margin: auto;
}
.innocentlappy{
  width: 200px;
}
.pcslap{
  width: 200px;
}
.mechanic{
  width: 175px;
}

.dark{
 background-color: #393E46;
 padding-top: 15px;
}
.darkwork{
 width: 80%;
 margin: 10px auto 10px;
}
.dark-table{
  text-align: center;
}



.bottom {
background-color: #11999E ;
padding-top: 10px;
}
.contact-me{
  margin: auto;
  text-align: center;
}
.copyright{
  margin-bottom: 0;
}
